<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><h2>Lista de produtos fornecidos</h2></header>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="fornecedor/list">Home</a></li>
    </ul>   
        <table>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
          </tr>
          <tr>
            <td>Peter</td>
            <td>Griffin</td>
          </tr>
          <tr>
            <td>Lois</td>
            <td>Griffin</td>
          </tr>
        </table>

        <style>
            table, td, th {
              border: 1px solid;
            }
            
            table {
              width: 100%;
              border-collapse: collapse;
            }
        </style>
</body>
</html>